header {
	background: #585858;
	padding-bottom: 10px;
	margin-bottom: 34px;
}

header .head-title span{
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
	color: #FFF;
}

.head-links{
	background-color: transparent;
	margin-bottom: -20px;
	padding-left: 0px;
}

.btn-cta {
	padding:5px 22px;
}

.head-links a{
	color:#333;
}

.head-links li.active a{
	color:#859a60;
}


footer .footer-sub-links {
	padding-top: 0px;
}

footer .footer-sub-links ul {
	padding-top: 10px;
}

.report-nav{
	margin-top: 10px;
}
.report-nav .nav-pills > li > a {
	text-decoration: none;
}
.report-nav .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #859A60;
	text-decoration:none;
}
#main{
	padding-top: 10px;
}
/*
------------------------------
 index.blade login page
------------------------------
 */



/*
------------------------------
 reports.blade
------------------------------
 */

#report-fieldset legend{
	color: #fff;
	margin-bottom: 0px;
}

.report-options label{
	
	font-size: 16px;
	display: inline;
}

.report-options select, .report-options input {
	width: 70%;
	font-size: 14px;
	display: inline-table;

}

#report-fieldset .date-inputs-label{
	width: 70px;
	display: inline-table;
	margin-top: 6px;
	float: left;
}

#report-fieldset .date-inputs{
	width: 142px;
	display: inline-table;
}

#report-fieldset .table-row{
	overflow: auto;
	height: 400px;
}

.button-col{
	padding: 0px;
}

.action-section{
	margin-bottom: 10px;
}

#exclusion-report-fieldset .results-tab{
	padding: 0px;
}


.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
	cursor: pointer;
}

/*
------------------------------
 		Borrower admin
------------------------------
 */

 .portalSelectionPanel{	display: none; }


/*
-------------------------------
		Reopen Mechanism
-------------------------------
*/


.reopen label{
	
	font-size: 16px;
	display: inline;
}

#searchReopenInput {
	width: 50%;
	font-size: 14px;
	display: inline-table;

}

.reopenContentsDiv{	display: none }

.reopenButton



