html {
    background: white;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.loginpanel {
    background: #33404f;
    height: 44px;
    line-height: 44px;
    color: #aaaaaa;
    text-align: right;
}
.white {
    color: white
}
.logo {
    width: 300px;
}
#rr-main {
    width: 947px;
}
.reward-list {
    width: 550px;
    float: left;
}
.reward-list table {
    width: 100%;
    border-bottom: solid 1px #e2f1ce;
    margin: 15px 0px 10px 0px;
    color: #333333;
    background: white;
    text-indent: 10px;
}
.col-right .page-title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-bottom: solid 2px #81c868;
}
.col-right .reward-list {
    width: 548px;
    float: left;
    min-height: 482px;
}
.col-right .reward-details {
    width: 397px;
    float: left;
    min-height: 482px;
    background: #e6f4e1;
    color: #696969;
}
.rn {
    width: 346px;
}
.col-right .reward-list th {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.col-right .reward-list td {
    padding-left: 10px;
    padding-right: 20px;
    height: 35px;
}
.rr-top {
    background: #4d453f;
    height: 128px;
    color: white;
}
.rr-header {
    margin: 34px 0px 0px 0px;
}
.rr-nav {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.rr-main-content {
    background: white;
}
.rr-sidebar {
    border-right: solid 1px #E8E8E8;
    min-height: 400px;
    padding-top: 10px;
}
.rr-contents {
    min-height: 400px;
    font-size: 15px;
}
.rr-row {
    background: #fff;
    cursor: pointer;
}

.rr-sab-link{
    color: #81c868; 
    text-decoration: none
}

.rr-reward-summary{
    text-align: right;  padding-right: 50px;
}

.active {
    background: #e6f4e1;
    cursor: pointer;
}
.rr-row:hover {
    background: #e6f4e1;
    cursor: pointer;
}
.rr-results {
    background: #4d5559 !important;
    border-radius: 5px;
    padding: 2px;
    color: white !important;
    height: 104px;
    font-size: 22px;
    /*width: 528px !important;*/
}
.col-right .reward-details .otp {
    display: block;
}
.col-right .reward-details .p1 {
    background: url('../img/rr-calendar.png') no-repeat;
    margin: 28px 30px 0px 30px;
    padding: 0px 0px 0px 52px;
    min-height: 70px;
    border-bottom: solid 1px white;
    color: #61625d;
}
.col-right .reward-details .debt {
    background: url('../img/rr-debt.png') no-repeat;
}
.col-right .reward-details .card {
    background: url('../img/rr-creditcard.png') no-repeat;
}
.col-right .reward-details .savings {
    background: url('../img/rr-increaseSavings.png') no-repeat;
    padding: 0px 0px 0px 62px;
}
.col-right .reward-details .auto {
    background: url('../img/rr-auto.png') no-repeat;
    padding: 0px 0px 0px 62px;
}
.col-right .reward-details .p1 .details-title {
    font-size: 19px;
    color: #696969;
    font-weight: bold;
}
.col-right .reward-details .p2 {
    margin: 20px 30px 0px 30px;
    border-bottom: solid 1px white;
    min-height: 110px;
}
.col-right .reward-details .p2 img {
    margin: 10px 0px;
}
.ot-p2-sub1 {
    font-size: 15px;
    font-weight: bold;
}
.col-right .reward-details .p3 {
    margin: 20px 30px 0px 30px;
    text-align: center;
}
.col-right .reward-details .p3 p{
    width: 260px;
    float: right;
    text-align: left;
}

.col-right .reward-details .cdb-p3 {
    margin: 20px 0px 0px 0px !important;
    padding: 0px 0px 30px !important;
    text-align: center;
    text-indent: 30px;
    height: 31px;
}
.col-right .reward-details .p3 h4 {
    font-weight: bold
}
.col-right .reward-details .cdb {
    display: none;
}
.col-right .reward-details .tccs {
    display: none;
}
.col-right .reward-details .sab {
    display: none;
}
.col-right .reward-details .at {
    display: none;
}
.summary-result {
    font-size: 18px;
    font-weight: bold;
    color: #81c868;
}
.summary-table {
    width: 100%;
}
.summary-table th {
    background: #d2ebc9;
    font-weight: bold;
    height: 31px;
    line-height: 31px;
    font-size: 15px;
    color: #696969;
}
.summary-table tr {
    height: 31px;
    line-height: 31px;
}
.enrollNow {
    background: #81c868;
    color: white;
    font-size: 15px;
    text-indent: center;
    width: 199px;
    height: 46px;
    border: solid 1px #63bf5c;
    border-radius: 2px;
}

.red{ color: red; }
.green{ color: green; }

.col-right .reward-list .rr-row .rn {
    padding-left: 25px;
}

/* ----------------   BANK VERIFICATION   -------------------- */

.yodlee-form .top-banks .col-sm-3 img {
    width: 100%;
    max-width: 240px;
    cursor: pointer;
}
.yodlee-form .back-to-form,
.yodlee-form .show-all {
    cursor: pointer;
}
.yodlee-form .show-all {
    font-weight: bold;
    font-size: 15px;
}
.yodlee-form .search-title {
    text-align: center;
    font-size: 22px;
    padding: 25px 0;
}
.yodlee-form ul {
    list-style: none;
    padding-left: 25px;
}
.yodlee-form .link-actions {
    margin-bottom: 65px;
}
.yodlee-form .link-actions .btn-cta,
.yodlee-form .link-actions .btn-learn {
    margin-bottom: 15px;
    width: 100%;
}
.yodlee-form .form-wrapper {
    display: none
}
.yodlee-form #bank-wrapper-search {
    display: block;
}
.yodlee-form #vefiryBankAccountForm #bankName {
    width: 335px;
}
.yodlee-form #sitesSearchResult {
    margin-top: 20px;
    width: 100%;
}
.yodlee-form .sites ul {
    margin-left: 0px;
    list-style: none;
}
.yodlee-form .sites li {
    cursor: pointer;
}
.yodlee-form #addSiteAccount1 {
    margin-top: 20px;
}
.action-section a.btn {
    color: #FFF;
}
#linkBankAcctModal.modal{
    z-index: 1;
}
#linkBankAcctModal .modal-content {
    width: 800px;
    padding: 0px;
}

#linkBankAcctModal .modal-header {
    border-bottom:none;
    background: #000;
}
#linkBankAcctModal .modal-header h2 {
    color:#FFF;
}
#linkBankAcctModal .modal-footer {
    background: #000;
}   
#linkBankAcctModal .modal-dialog {
    width: 90%;
}
