/* -------------------- MISC --------------------------- */

.border-left{ border-left: #ddd solid 1px }
.border-right{ border-right: #ddd solid 1px }

/* -------------------- PORTAL ------------------------- */
#borrowerPortal{
	margin-top: -60px;
    max-width: 1200px;
}

#borrowerPortal .box-wrapper .row > .col-sm-8 .portal-sidebar {
    border: 1px solid #eaeaea;
    background: #FFF;
    min-height: 475px;
}

#borrowerPortal .box-wrapper > .row > .col-sm-3,
#borrowerPortal .box-wrapper .row > .col-sm-4 {
    margin-top: 70px;
    padding: 20px 15px;
    border: 1px solid #eaeaea;
}

#borrowerPortal .portal-contents{
	background: white;
	padding: 20px 15px;
    border: 1px solid #eaeaea;
}

#borrowerPortal .box-wrapper h2 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}

#borrowerPortal .glyphicon-repeat,
#borrowerPortal .glyphicon-list-alt,
#borrowerPortal .glyphicon-share-alt,
#borrowerPortal .glyphicon-user,
#borrowerPortal .glyphicon-th-list {
    color: #2996cc
}

#borrowerPortal .portal-contents .row{
    height: 55px;
    line-height: 55px;
    border-bottom: 1px dashed #eaeaea;
}

#borrowerPortal .portal-contents .data-row{
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word;
}

#borrowerPortal .portal-contents .data-left{ text-align: left;   }

#borrowerPortal .portal-contents .data-right{ text-align: right;   }

#borrowerPortal .portal-contents .data-center{ text-align: center;   }

#borrowerPortal .portal-contents .no-dash{     border-bottom: none;  }

#borrowerPortal .portal-contents .data-header{
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eaeaea;
}

#borrowerPortal .portal-sidebar ul{
    list-style: none;
    text-decoration: none;
    padding: 0px;
}

#borrowerPortal .portal-sidebar li a{
    text-decoration: none;
    font-weight: bold;
}

#borrowerPortal .portal-sidebar li{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eaeaea;
    font-size: 16px;
    text-indent:  20px;

}

#borrowerPortal .portal-sidebar li a.active{
    color: #81c868;
}

#borrowerPortal .history {
    min-height: 600px;
}

#borrowerPortal .history .data-history-title{
    background: gray;
    color: white;
    border-bottom: none;
    height: 70px;
    line-height: 30px;
}

#borrowerPortal .history .data-history-row{
    height: 55px;
    border-bottom: 1px dashed #eaeaea;
    word-wrap: break-word;
    padding-top: 10px;
}

#borrowerPortal .no-margin{
    padding: 0px;
}

/* -------------------- STATEMENT --------------------------- */
.statement-details .reward-list {
  width: 395px;
  float: left;
  min-height: 482px;
}
.statement-details .reward-list table {
  width: 100%;
  border-bottom: solid 1px #e2f1ce;
  margin: 15px 0px 10px 0px;
  color: #333333;
  background: white;
  text-indent: 10px;
}
.statement-details .reward-list table.rr-options {
  width: 100%;
}
.statement-details .page-title {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-bottom: solid 2px #81c868;
}
.statement-details .reward-details {
  width: 397px;
  float: left;
  min-height: 482px;
  background: #e6f4e1;
  color: #696969;
  overflow: auto;

  position: relative;
  right: -16px;
}
.statement-details .rn {
  width: 346px;
}
.statement-details .reward-list th {
  height: 40px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.statement-details .rr-results td {
  padding-right: 10px;
}
.statement-details .reward-list td {
  /*padding-left: 10px;
  padding-right: 20px;*/
  font-size: 14px;
  height: 35px;
}
.statement-details .rr-row {
  background: #fff;
  cursor: pointer;
}
.statement-details .rr-row {

}
.statement-details .rr-reward-summary{
  text-align: right;  padding-right: 50px;
}
.statement-details .active {
  background: #e6f4e1;
  cursor: pointer;
}
.statement-details .rr-row:hover {
  background: #e6f4e1;
  cursor: pointer;
}
.statement-details .rr-results {
  background: #4d5559 !important;
  border-radius: 5px;
  padding: 2px;
  color: white !important;
  height: 104px;
  font-size: 22px;
  /*width: 528px !important;*/
}
.statement-details .reward-details .otp {
  display: block;
}
.statement-details .reward-details .p1 {
  background: url('../img/rr-calendar.png') no-repeat;
  margin: 28px 30px 0px 30px;
  padding: 0px 0px 15px 52px;
  min-height: 70px;
  border-bottom: solid 1px white;
  color: #61625d;
}
.statement-details .reward-details .debt {
  background: url('../img/rr-debt.png') no-repeat;
}
.statement-details .reward-details .card {
  background: url('../img/rr-creditcard.png') no-repeat;
}
.statement-details .reward-details .savings {
  background: url('../img/rr-increaseSavings.png') no-repeat;
  padding-left: 70px;
}
.statement-details .reward-details .auto {
  background: url('../img/rr-auto.png') no-repeat;
  padding-left: 70px;
}
.statement-details .reward-details .p1 .details-title {
  font-size: 19px;
  color: #696969;
  font-weight: bold;
}
.statement-details .reward-details .p2 {
  margin: 20px 30px 0px 30px;
  border-bottom: solid 1px white;
  min-height: 110px;
}
.statement-details .reward-details .p2 img {
  margin: 10px 0px;
}
.statement-details .reward-details .ot-p2-sub1 {
  font-size: 15px;
  font-weight: bold;
}
.statement-details .reward-details .p3 {
  margin: 20px 30px 0px 30px;
  text-align: center;
}
.statement-details .reward-details .p3 p {
  width: 260px;
  float: right;
  text-align: left;
}
.statement-details .reward-details .cdb-p3 {
  margin: 20px 0px 0px 0px !important;
  padding: 0px 0px 30px !important;
  text-align: center;
  text-indent: 30px;
  height: 31px;
}
.statement-details .reward-details .p3 h4 {
  font-weight: bold
}
.statement-details .reward-details .cdb {
  display: none;
}
.statement-details .reward-details .tccs {
  display: none;
}
.statement-details .reward-details .sab {
  display: none;
}
.statement-details .reward-details .at {
  display: none;
}
.statement-details .summary-result {
  font-size: 18px;
  font-weight: bold;
  color: #81c868;
}
.statement-details .summary-table {
  width: 100%;
}
.statement-details .summary-table th {
  background: #d2ebc9;
  font-weight: bold;
  height: 31px;
  line-height: 31px;
  font-size: 15px;
  color: #696969;
}
.statement-details .summary-table tr {
  height: 31px;
  line-height: 31px;
}
.statement-details .enrollNow {
  background: #81c868;
  color: white;
  font-size: 15px;
  text-align: center;
  width: 199px;
  height: 46px;
  border: solid 1px #63bf5c;
  border-radius: 2px;
}

.statement-details .red { color: red; }
.statement-details .green { color: green; }

.statement-details .reward-list .rr-row .rn {
  padding-left: 25px;
}

/* ----------------   BANK VERIFICATION   -------------------- */

.yodlee-form .top-banks .col-sm-3 img {
  width: 100%;
  max-width: 240px;
  cursor: pointer;
}
.yodlee-form .back-to-form,
.yodlee-form .show-all {
  cursor: pointer;
}
.yodlee-form .show-all {
  font-weight: bold;
  font-size: 15px;
}
.yodlee-form .search-title {
  text-align: center;
  font-size: 22px;
  padding: 25px 0;
}
.yodlee-form ul {
  list-style: none;
  padding-left: 25px;
}
.yodlee-form .link-actions {
  margin-bottom: 65px;
}
.yodlee-form .link-actions .btn-cta,
.yodlee-form .link-actions .btn-learn {
  margin-bottom: 15px;
  width: 100%;
}
.yodlee-form .form-wrapper {
  display: none
}
.yodlee-form #bank-wrapper-search {
  display: block;
}
.yodlee-form #vefiryBankAccountForm #bankName {
  width: 335px;
}
.yodlee-form #sitesSearchResult {
  margin-top: 20px;
  width: 100%;
}
.yodlee-form .sites ul {
  margin-left: 0px;
  list-style: none;
}
.yodlee-form .sites li {
  cursor: pointer;
}
.yodlee-form #addSiteAccount1 {
  margin-top: 20px;
}
.action-section a.btn {
  color: #FFF;
}
#linkBankAcctModal.modal{
  z-index: 1;
}
#linkBankAcctModal .modal-content {
  padding: 0px;
}

#linkBankAcctModal .modal-header {
  border-bottom:none;
  background: #000;
}
#linkBankAcctModal .modal-header h2 {
  color:#FFF;
}
#linkBankAcctModal .modal-footer {
  background: #000;
}
#linkBankAcctModal .modal-dialog {
  width: 800px;
}
