.lendingRt1::-webkit-inner-spin-button, 
  .lendingRt1::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0; 
  }

  #products .product-rr span.rwar{
    font-size: 12px;
    color: #83c96b;
    border: 1px solid #83c96b;
    padding: 0px 6px;
    /* margin-top: 100px; */
    border-radius: 50%;
  }

  .slogan-mobile{ display: none; }
  .slogan-web{ display: block; }

  a.navbar-brand-logo:after {content: url('/img/v2/logo.png'); }
  .bg-main {background: url('/img/v3/banner.jpg') no-repeat scroll 100% 0%; background-size: cover; height: 900px; }
  .cta-link {color: #fff; }
  .btn-cta-check-rate {padding: 10px 45px; }
  .partner-wrapper {margin: 0px auto 0px !important; }
  .partner-wrapper.slider-form-wrapper #LoanApplicationForm {
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    margin-top: 20px;
    padding: 10px 10px 40px;
  }
  .partner-banner {padding:0; }
  .partner-form .slogan {margin-bottom: 3em; }
  .partner-form .slogan h1 {width: 100%; padding-left: 40px; padding-right: 40px; font-size: 30px; font-weight: bold; color: #2996cc; }
  .partner-form .slogan h1 small {font-size: 24px; font-weight: normal; color: inherit; }
  .partner-wrapper .wont-impact {margin-left: 30px; margin-top: -16px; background: url('/img/v3/impact2.png') no-repeat; width: 292px; height: 55px; display: block; }
  .select-rate h1.show-mobile {display: none; }
  .select-rate h1 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin: 0 -20px 10px -20px;
    line-height: 1.2em;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
  }
  .select-rate h1 span {font-size: 36px; font-weight: 700; color: #2996cc; float: right; line-height: 0; }
  .select-rate .loan-form {
    border: 1px solid #ccc;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .select-rate .loan-form input[type=number],
  .select-rate .loan-form select {margin: 8px 0; font-size: 13px; border: 1px solid #ccc; }
  .select-rate .loan-form input[type=number] {width: 100%; padding: 10px 15px 10px 28px; }
  .select-rate .loan-form select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .select-rate .loan-form #loanAmt:before {
    content: "$";
    position: absolute;
    top: 0;
    right: 20px;
  }
  .select-rate .loan-form button {
    margin: 8px 0;
    width: 100%;
  }
  .select-rate .loan-form .prefix-dollar {position: absolute; top: 92px; left: 50px; }
  .select-rate .loan-form .dd-purpose {position: absolute; top: 147px; left: 321px; }
  .select-rate .loan-form .dd-credit-quality {position: absolute; top: 202px; left: 321px; }
  #products {margin-top: 0 !important; border-bottom: none !important; }
  #products .product-ascend, #products .product-rr, #products .plus-sign {padding: 0 80px 0 20px; margin-left:30px; }
  #products .product-ascend p,
  #products .product-rr p {font-size: 14px; color: #696969; }
  #products .product-ascend h3,
  #products .product-rr h3 {margin: 5px auto; }

  .overview-features {text-align: center; padding-top: 25px; padding-bottom: 25px; background: rgba(0,0,0,0.2); margin-top: 60px; }
  .overview-features ul {margin-bottom: 0; list-style: none; padding: 0; }
  .overview-features ul li {color: #81c868; display: inline-block; position: relative; padding: 0 30px 0 38px; margin-left: 30px; border-right: 1px solid rgba(255,255,255,0.3); line-height: 1; }
  .overview-features ul li:before {content: ''; position: absolute; top: -8px; left: 0; width: 30px; height: 30px; background-repeat: no-repeat; }
  /*.overview-features ul li:first-child {padding-left: 0; }*/
  .overview-features ul li:last-child {padding-right: 0; border-right: 0; }
  .features {background: transparent; padding: 35px 25px 25px; }
  .features p {font-size: 14px; }
  .features .feature-list {text-transform: none; font-size: 15px; }
  .media-list {background: #fff; border-bottom: 1px solid #eeefef; padding: 0; }
  .media-list ul {list-style: none; padding-left: 0; margin-bottom: 0; }
  .media-list ul li {display: inline; margin: 0 25px; }
  .noUi-origin {border: 1px solid #c0c0c0 !important; border-radius: 4px; }
  footer hr {border-top: 1px solid #d3dfe5; }


  .feature-lowpay:before {background-image: url('/img/v3/icon-lowpay.png'); }
  .feature-quote:before {background-image: url('/img/v3/icon-quote.png'); }
  .feature-funding:before {background-image: url('/img/v3/icon-funding.png'); }
  .feature-raterewards:before {background-image: url('/img/v3/icon-rewards.png'); }
  

  @media (max-width: 767px){
    .bg-main {
        height: 1365px;
    }
    .partner-wrapper .wont-impact-mobile {
      width: 100%;
    }
    header .navbar-default .navbar-toggle {
      margin-right: 0;
    }
    #creditCriteria .modal-content {
      width: 100%;
    }
    #products .product-ascend, #products .product-rr, #products .plus-sign {
      padding: 0 20px;
      margin-left: 0;
    }
    .select-rate .loan-form .dd-purpose,
    .select-rate .loan-form .dd-credit-quality {
      left: 513px;
    }
    .overview-features ul li {
      padding: 15px 30px 15px 38px;
    }
  }

  @media (max-width: 480px) {
    .bg-main {
      height: 1200px;
    }
    header .navbar {
      background: #212b30;
      padding: 10px 0 0px;
      border-bottom: 1px solid #1d2629;
      margin-bottom: 25px;
    }
    header .navbar-default .navbar-toggle {
      padding: 6px 0;
      width: 45px;
    }
    header .navbar-default .navbar-toggle .icon-bar {
      width: 25px;
      height: 3px;
      border-radius: 0;
    }
    .partner-brand-container {
      margin-top: 0px;
    }
    .partner-wrapper.slider-form-wrapper {
      /*min-height: 750px;*/
      margin: 0 15px 0px !important;
      padding: 0;
    }
    .partner-wrapper.slider-form-wrapper #LoanApplicationForm {
      background: rgba(237, 238, 238, 0.9);
      margin-top: 15px;
      padding: 10px 10px 30px;
      box-shadow: none;
    }
    .partner-wrapper .partner-form .slogan {
      margin-bottom: 1em;
    }
    .partner-wrapper .partner-form .slogan h1 {
      font-weight: bold;
      font-size: 20px !important;
      padding: 25px 15px 15px;
      margin-top: 0;
    }
    .partner-wrapper .partner-form .slogan h1 small {
      font-size: 20px;
      font-weight: 300;
      display: inline-block;
      margin-top: 8px;
      line-height: 1.4em;
    }
    .partner-wrapper .select-rate .slider-container {
      padding-left: 15px !important;
    }
    .select-rate h1.show-mobile {display: block; line-height: 0.5; }
    .select-rate h1:not(.show-mobile) {display: none; }
    .partner-wrapper .select-rate h1 {
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: bold;
    }
    .partner-wrapper .select-rate h1 span {font-size: 24px; }
    .partner-wrapper .wont-impact-mobile {
      width: 100% !important;
      text-align: center;
      margin-top: -5px;
      padding-left: 0;
    }
    .select-rate .loan-form {
      margin: 0 -10px;
      border: 0 none;
      border-bottom: 1px solid #ccc;
      position: relative;
      top: -350px;
    }
    .select-rate .loan-form .prefix-dollar {position: absolute; top: 71px; left: 35px; }
    .select-rate .loan-form .dd-purpose {position: absolute; top: 126px; left: auto; right: 36px; }
    .select-rate .loan-form .dd-credit-quality {position: absolute; top: 182px; left: auto; right: 36px; }
    .select-rate .check-wrapper {
      border-radius: 4px;
    }
    .slider-wrapper {
      width: 75%;
      padding-top: 5px;
    }
    .partner-wrapper .select-rate .check-rate-wrapper {
      padding-top: 0;
    }
    .partner-wrapper .btn-cta-check-rate {
      width: 100%;
    }
    .partner-form #products {
      position: relative;
      top: 320px;
    }
    #products .product-ascend,
    #products .product-rr,
    #products .plus-sign {
      background: transparent;
      padding: 0 25px;
      margin-left: 0 !important;
    }
    .media-list {
      line-height: 3em;
    }
    .media-list ul {margin-bottom: 15px; }
    .media-list ul li:first-child {
      width: 100%;
    }
    .media-list ul li {
      display: inline-block;
      margin: 0;
      width: 48%;
    }
    .media-list ul li img {max-width: 100%; padding: 0 10px; }
    #howitworks {padding: 35px 15px 25px; }
    #howitworks .overview {padding-bottom: 2em; }
    #howitworks h1, #aboutus h1, #borrowers h1 {font-size: 24px; }
    #howitworks p, #aboutus p, #borrowers p {font-size: 18px; }
    #howitworks .row-fluid .col-sm-3 {margin-bottom: 2em; }
    #howitworks .row-fluid .feature-list {font-size: 18px; }
    #howitworks .row-fluid p {font-size: 15px; }
    #howitworks .learn-more-wrapper {margin-top: 0; }

    .footer-links {
      margin-top: 30px;
    }
    .footer-links hr {
      border-top: 1px solid #ccc;
    }
    .footer-links #footer-contact {
      margin-top: 20px;
    }
    footer .disclaimer {
      padding-top: 0;
      text-align: left;
    }
    #aboutus, #borrowers {padding-top: 2em; padding-bottom: 2em; }
    #aboutus .inner-container, #howitworks .inner-container {padding-top: 20px; }
    .overview-features {padding-top: 10px; padding-bottom: 0px !important; margin-top: 0px; }
    .overview-features ul li {
      width: 45%;
      padding: 0 0 0 38px;
      margin: 14px 0;
      text-align: left;
      border-right: 0 none;
    }
    .overview-features ul li.feature-funding:before,
    .overview-features ul li.feature-raterewards:before {top: 0px; }

    .partner-wrapper .partner-statement-box{
      width: 150px;
      float: left !important;
    }

    .partner-wrapper .partner-logo-box{
      width: 175px;
      float: left !important;
    }
    
    .partner-wrapper .wont-impact-mobile{
      width: 280px !important
    }
  }



  @media (max-width: 414px) {
    .select-rate .loan-form {top: -380px; }
    #products .product-ascend h3, #products .product-rr h3 {font-size: 20px; }
    .partner-banner{    margin-bottom: 30px; }
    .slogan-mobile{ display: block; }
    .slogan-web{ display: none; }
    .partner{ margin-bottom: 30px !important}
    .partner-wrapper .wont-impact-mobile{ width: 340px !important }
  }


  @media (max-width: 384px) {
    .partner-wrapper .partner-logo-box,
    .partner-wrapper .partner-statement-box{
      width: 100%;
    }
  }

  @media (max-width: 360px) {

    .partner-wrapper .partner-form .slogan h1 {
      padding-left: 0;
      padding-right: 0;
    }
    .partner-wrapper .wont-impact-mobile{ width: 320px !important }
  }

  @media (max-width: 375px) {
     .partner-wrapper .partner-statement-box{
      width: 100%;
      float: left !important;
    }

    .partner-wrapper .partner-logo-box{
      width: 100%;
      float: left !important;
    }
    .partner-banner{  margin-bottom: 0px  }
  }

  @media (max-width: 320px) {
    .select-rate .loan-form {top: -400px; }
    #products .product-ascend h3, #products .product-rr h3 {font-size: 20px; }
    .partner-wrapper .select-rate h1 {font-weight: normal; }
    .partner-wrapper .select-rate h1 span {font-size: 20px; line-height: 0.4; }
    .partner-wrapper .partner-form .slogan h1 { font-size: 22px !important; line-height: 1.4em; }
    .partner-wrapper .partner-form .slogan h1 small {font-size: 17px; line-height: 1.2em; }
        .partner-wrapper .wont-impact-mobile {margin-left: -15px; }
    .btn-cta-check-rate {padding: 10px; }
    .overview-features ul li {font-size: 13px; }
    .partner-wrapper .partner-statement-box{
      width: 100%;
      float: left !important;
    }

    .partner-wrapper .partner-logo-box{
      width: 100%;
      float: left !important;
    }
    .partner-wrapper .wont-impact-mobile{ width: 280px !important }
  }