@charset "UTF-8";
/* CSS Document */

/* Reset CSS Styles */
* { margin:0; padding:0; }

body { background: #f0f0f0; /*font-family: arial; */
	font-family: 'Open Sans', sans-serif; font-size: 14px; color: #555; margin: 30px 0 0; padding: 0; }

a, a:visited, a:hover, a:active { text-decoration: none; outline: 0; }

hr {
	height: 1px;
	border: 0;
	color: #ddd;
	background-color: #ddd;
	width: 100%;
}

input, textarea {
  -webkit-border-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus, a, a:hover, a:active, a:focus { outline: none; }
input::-moz-focus-inner { border: 0; outline: none; }

input[type="text"],select,textarea,input[type="email"],input[type="search"], input[type="password"]{		
	border: 1px solid #ddd;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #555;
	margin: 5px 0 0;
	width: 97%;
}

textarea { height: auto; padding: 5px; resize: none;  }
	
input[type="text"]:focus,textarea:focus,input[type="email"]:focus, input[type="password"]:focus { border: 1px solid #ccc; }
	
button, input[type="button"] {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f2f2f2) );
	background: -moz-linear-gradient( center top, #ffffff 5%, #f2f2f2 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
	background-color: #ffffff;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	border: 1px solid #dddddd;
	display: inline-block;
	color: #333333;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 20px;
	text-decoration: none;
}

label.checkbox { font-size: 13px; font-weight: normal; }

button:hover, input[type="button"]:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dddddd), color-stop(1, #f2f2f2) );
	background: -moz-linear-gradient( center top, #dddddd 5%, #f2f2f2 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#f2f2f2');
	background-color: #dddddd;
	cursor: pointer;
}

button:active, input[type="button"]:active {
	position: relative;
	top: 1px;
}

table { width: 100%; padding: 0; margin: 0; border: 0; }
td { text-align: left; vertical-align: bottom; padding: 0 0 10px;}

.a-left { text-align: left; }
.a-right { text-align: right; }
	
#block-login 			{ width: 600px; margin: 160px auto 160px; font-size: 12px; }
#block-login h2 		{ font-size: 18px; font-weight: normal; color: #000; }
#block-login p 			{ margin: 12px 0; }
#block-login label 		{ font-weight: bold; }
#block-login a 			{ color: #a0005e; text-decoration: none; }
#block-login a:hover 	{ color: #8cc73f; text-decoration: none; }
#block-login .logo 		{ margin: 0 0 0; background: #4d453f;}
#block-login .image     {background: url('../Images/logo_small.png') repeat-x top left; width:150px; height:43px;}
#block-login .box 		{ background: #fff; padding: 25px; }
#block-login .shadow 	{ height: 10px; background: url(images/login_box_shadow.png) no-repeat 50% 0; }
#block-login .fieldcol 	{ float:left; width:210px; margin: 0 0 15px; }
#block-login label.checkbox { font-size: 13px; font-weight: normal; }
 #block-login.new-account { margin-top: 50px; }

input.textfield { width: 190px; }

.loginBtn {
	background: #8cc73f;
	border: 1px solid #dddddd;
	display: inline-block;
	color: #ffffff;
	/*font-family: arial; */
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 32px 6px;
	text-decoration: none;
	border-radius: 0;
}

.loginBtn:hover {
	background: #a0005d;
	cursor: pointer;
}

.loginBtn:active {
	position: relative;
	top: 1px;
}

.error { color: #ff0000; }

.error { color: #ff0000; }
.error ul { list-style: inside; margin: 10px 0; }

input.error-input { }

.col-left { float: left; }
.col-right { float: right; }

.wrapper	{ width: 1280px; margin: 0 auto; }
.page		{ width: 100%; background: #fff; }

.page .top-bar { background: #33404f; /* padding: 10px 15px;*/ height: 44px; line-height: 44px; color: #fff; font-size: 14px; text-align: right; padding-right: 40px }
.page .top-bar span.user,
.page .top-bar span.user a { color: #969899; }
.page .top-bar span.user a:hover { color: #fff; }
.page .top-bar a { color: #81c868; }
.page .top-bar a:hover { color: #ccc; }

.page .header { background: url(../images/bkg_header.png) repeat-x; height: 128px; }
.page .header .logo { padding: 44px 40px;float: left; width: 400px; }

.content { border-bottom: 1px solid #eaeaea; margin: 0px;  }
.content .col-left { width: 256px; padding: 40px 0px;   }
.content .col-right { width: 944px; border-left: 1px solid #eaeaea;  padding: 20px 40px 0px 31px; min-height: 300px; }

.content .col-left ul { width: 150px; padding-left: 40px;}
.content .col-left ul li { font-size: 14px; margin-bottom: 16px; list-style-type: none; background: url(../Images/bullet.png) no-repeat top left; padding-left: 22px;}
.content .col-left ul li a { color: #555; text-decoration: none; }
.content .col-left ul li a:hover, .content .col-left ul li a.active { /*color: #9f015d;*/ color: #91cf7b; font-weight: bold; }

.content .col-right .breadcrumbs { font-size: 12px; color: #888; margin-bottom: 10px;}
.content .col-right .breadcrumbs a { padding: 0 7px; color: #888; }
.content .col-right .breadcrumbs a:hover, .content .col-right .breadcrumbs a.active  { padding: 0 7px; color: #333; }

.content .col-right .page-title { font-size: 21px; font-weight: bold; color: #000; /*background: #b3b3b3;*/ padding: 5px 10px; margin-bottom: 10px; border-bottom: solid 3px #869b5d;}

.footer { margin: 10px 30px 30px; text-align: right; font-size: 12px; color: #555; }

.nav { float: right; width: 500px; }
.nav ul { list-style: none; float: right;}
.nav ul li { float: left; /*margin: 45px 30px 0;*/ margin: 90px 30px 0px 20px; display: block; font-size: 18px;  font-weight: bold; }
.nav ul li a { /*color: #000;*/ color: #fff; text-transform: uppercase; }
.nav ul li a:hover, .nav ul li a.active { /*color: #8cc73f;*/ color: #7eab30; }

table.table-balances { margin: 0; padding: 0; border: none; border-spacing: 0; width: 100%;  }
table.table-balances th { font-size: 12px; color: #333; text-align: left; border-bottom: 1px solid #8cc73f; padding: 5px 0; }
table.table-balances td { font-size: 12px; text-align: left; vertical-align: middle; margin: 0; padding: 5px 0; }
table.table-balances .col1 { width: 150px; }
table.table-balances .col2 { width: 150px; }
table.table-balances .col3 { width: 120px; }
table.table-balances .col4 { width: 120px; }
table.table-balances .col5 { width: 120px; }
table.table-balances .col6 { }
table.table-balances td a { color: #8cc73f; text-decoration: underline; }

table.table-balance-details { margin: 0; padding: 0; border: none; border-spacing: 5px; width: 100%; border-right:3px; }
table.table-balance-details td { font-size: 12px; text-align: left; vertical-align: middle; margin: 0; padding-bottom: 0px; padding-right: 10px; }
table.table-balance-details .col1, 
table.table-balance-details .col3 { width: 135px; }
table.table-balance-details .col5 { width: 100px; }
table.table-balance-details .col2,
table.table-balance-details .col4 { width: 85px;  }
table.table-balance-details .col6 { }
table.table-balance-details .nodata { border: none; }

.payment-history-frame { height: 430px; overflow: auto; }
 
table.table-history { margin: 0; padding: 0; border: none; border-spacing: 0; width: 100%;  border: 1px solid #ddd; }
table.table-history th { font-size: 12px; color: #fff; text-align: left; vertical-align: bottom; background: #8cc73f; padding: 6px 3px; }
table.table-history td { font-size: 12px; text-align: left; vertical-align: middle; margin: 0; padding: 6px 3px; }
table.table-history .col1 { width: 75px; }
table.table-history .col2 { width: 75px; }
table.table-history .col3 { width: 75px; }
table.table-history .col4 { width: 40px; }
table.table-history .col5 { width: 120px; }
table.table-history .col6 { width: 75px; }
table.table-history .col7 { width: 45px; }
table.table-history .col8 { width: 50px; }
table.table-history .col9 { width: 60px; }
table.table-history .col10 {  }
table.table-history tr.odd { background: #fffc8f; }
table.table-history tr.even { background: #f7f7f7; }

table.table-submit-payment { margin: 0; padding: 0; border: none; border-spacing: 5px; width: 50%;  }
table.table-submit-payment td { text-align: left; vertical-align: baseline; margin: 0; padding: 5px; }
table.table-submit-payment .col1 { width: 150px; }
table.table-submit-payment .expdate { width: 25px; }
table.table-submit-payment .textfield-half { width: 75px; }

table.table-form { width: 60%; }

table.table-nicknames { margin: 0; padding: 0; border: none; border-spacing: 0; width: 60%;  }
table.table-nicknames th { font-size: 12px; text-align: left; padding: 5px; background: #8cc73f; color: #fff; }
table.table-nicknames td { font-size: 12px; text-align: left; vertical-align: middle; margin: 0; padding: 5px; }
table.table-nicknames .col1 { width: 150px; vertical-align: top; }
table.table-nicknames .col2 { width: 150px; }
table.table-nicknames .col3 { width: auto; }
table.table-nicknames tr.odd { background: #f7f7f7; }
table.table-nicknames tr.even { background: #fff; }

table.table-security { margin: 0; padding: 0; border: none; border-spacing: 0; width: 100%;  }
table.table-security th { font-size: 12px; color: #333; text-align: left; padding: 5px 0;  }
table.table-security td { font-size: 12px; text-align: left; vertical-align: middle; margin: 0; padding: 5px 0; }
table.table-security .col1 { width: 50%; }
table.table-security .col2 { width: 50%; }
table.table-security select { width: 350px;}

table.table-ach { margin: 0; padding: 0; border: none; border-spacing: 0; width: 100%; min-height: 300px;  }
table.table-ach td { font-size: 12px; text-align: left; vertical-align: baseline; margin: 0; padding: 5px 0; }
table.table-ach .col1 { width: 320px; }
table.table-ach .col2 { width: 40px; }
table.table-ach .col3 {   }
table.table-ach .col4 { width: 20px; }

table.table-ach2 { margin: 0; padding: 0; border: none; border-spacing: 0; width: 100%;  }
table.table-ach2 td { font-size: 12px; text-align: left; vertical-align: baseline; margin: 0; padding: 5px 0; }
table.table-ach2 .cola { width: 120px; }
table.table-ach2 .colb { }

table.table-ach3 { margin: 0; padding: 0; border: none; border-spacing: 0; width: 100%;  }
table.table-ach3 td { font-size: 12px; text-align: left; vertical-align: baseline; margin: 0; padding: 5px 0; }
table.table-ach3 .cola { width: 170px; }
table.table-ach3 .colb { }

.paymentGroup { min-height: 400px; display:none;}

.clear:after,
.nav:after,
.page:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }














button, input[type="submit"] {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f2f2f2) );
	background: -moz-linear-gradient( center top, #ffffff 5%, #f2f2f2 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
	background-color: #ffffff;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	border: 1px solid #dddddd;
	display: inline-block;
	color: #333333;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 20px;
	text-decoration: none;
}



button:hover, input[type="submit"]:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dddddd), color-stop(1, #f2f2f2) );
	background: -moz-linear-gradient( center top, #dddddd 5%, #f2f2f2 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#f2f2f2');
	background-color: #dddddd;
	cursor: pointer;
}

button:active, input[type="submit"]:active {
	position: relative;
	top: 1px;
}

.Grid-LoanBalance th {border-bottom:1px solid #8cc73f; padding-bottom:3px;}
.Grid-LoanBalance td {padding-top:3px;}

.Grid-PaymentHistory th { background-color:#8cc73f; font-size: 12px; color:#fff; padding: 5px;}
.Grid-PaymentHistory td { font-size: 12px; padding: 5px;}
.Grid-PaymentHistory col1 { width: 75px; }
.Grid-PaymentHistory col1 { width: 75px; }
.Grid-PaymentHistory col1 { width: 75px; }
.Grid-PaymentHistory .col4 { width: 40px; }
.Grid-PaymentHistory .col5 { width: 120px; }
.Grid-PaymentHistory .col6 { width: 75px; }
.Grid-PaymentHistory .col7 { width: 45px; }
.Grid-PaymentHistory .col8 { width: 50px; }
.Grid-PaymentHistory .col9 { width: 60px; }

.Grid-Statement th { background-color:#8cc73f; font-size: 12px; color:#fff; text-align:left; padding: 5px;}
.Grid-Statement td { font-size: 12px; text-align:left; padding: 5px;}

.Grid-Nicknames th { background-color:#8cc73f; font-size: 12px; color:#fff; padding: 5px; text-align:left;}
.Grid-Nicknames td { font-size: 12px; padding: 5px; vertical-align: middle; text-align:left;}