.bg-main {
    background: url('/img/v2/ascend.jpg') no-repeat scroll 100% 0%;
    background-size: cover;
    height: 1150px;
}
#partner-offer {
    margin-bottom: -24px;
    padding: 30px 10px;
    background: #FFFFFF;
}
#partner-offer,
#partner-wrapper {
    max-width: 965px;
}
#partner-generic-wrapper {
    padding-bottom: 60px;
}
#partner-generic-wrapper .partner-wrapper {
    max-width: 965px;
}
#partner-offer p:last-child.title {
    margin-bottom: 15px;
}
#partner-offer p.offer-title {
    margin-left: 0px;
    font-size: 25px;
    margin-bottom: 0;
}
#partner-offer .offer-table {
    border-right: none;
    padding-right: 0px;
    margin-top: 8px;
}
#partner-offer h3 {
    margin-bottom: 0;
    font-size: 22px;
}
#partner-offer .product-info {
    text-align: center;
}
#partner-offer .product-info p {
    color: #696969;
    font-size: 15px;
    line-height: 18px;
}
#partner-offer .product-info-rr span {
    font-size: 11px;
    color: #81C868;
    border: 1px solid #81C868;
    padding: 0px 4px;
    border-radius: 50%;
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
}
.btn-cta-check-rate {
    padding: 10px 40px;
}
.plus-sign {
    color: #A8A8A8;
    font-size: 42px;
    font-weight: 100;
    width: 100%;
    line-height: 35px;
}
.form-group .control-label {
    font-weight: 600;
    font-size: 12px;
    color: #696969;
}
.form-group div {
    margin-bottom: 10px;
}
.form-control {
    border-radius: 0px;
    -webkit-appearance: none;
}
.user-form {
    background-color: #fefefd;
    display: table;
    width: 100%;
    padding: 25px 0px;
    border: solid thin #81C868;
}
#partner-offer > div.right-pane {
    margin-bottom: 20px;
    padding-left: 0px
}
#partner-offer > div.right-pane > div:last-child {
    font-weight: bold;
    font-size: 13px;
    color: #666666;
}
#partner-offer > div.form-group.row.consent {
    margin: 0px;
}
#partner-offer > div.form-group.row.consent > div {
    margin-bottom: 0px;
}
.consent ul.ca-residents {
    margin-top: 0px;
}
.form-group div.consentlabel {
    font-size: 11px;
    margin-bottom: 4px;
}
.consentlabel a {
    text-decoration: none;
}
.get-funded {
    margin-top: -15px;
    margin-left: 25px;
}
.cc-question-icon {
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
    float: left;
}
.consentlabel {
    font-size: 12px;
}
.tooltip-inner {
    min-width: 250px;
}
.ttl {
    display: none;
}
#partner-offer input[type='number'] {
    -moz-appearance: textfield;
}
select::-ms-expand {
    display: none;
}
#partner-offer input[type=number]::-webkit-inner-spin-button,
#partner-offer input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    margin: 0;
}
#partner-offer div.tab-wrap.rrp table td.rr-icon,
#partner-offer div.tab-wrap.rrp table td.rr-desc {
    padding-left: 0px;
}
#partner-offer div.tab-wrap.rrp table td.rr-desc .title {
    margin-bottom: 0px;
}
.features .overview {
    padding-bottom: 20px;
}
.features-wrapper div {
    margin-bottom: 15px;
}
.btn-learn {
    text-decoration: none;
    text-transform: uppercase;
}
.offer-table-hr { display: none }
@media (max-width: 991px) {
    .bg-main {
        height: 1600px;
    }
}
@media (max-width: 768px) {

	.bg-main {
        height: 1660px;
    }
    .control-label {
        display: none;
    }
    #partner-offer {
        padding: 30px 10px;
    }
    #partner-offer .offer-table {
        padding: 15px 0;
    }
    #partner-offer>div.right-pane {
        padding: 0px;
    }
    #partner-offer .product-info {
        text-align: left;
    }
    #partner-offer .product-info p {
        font-size: 13px;
    }
    #partner-offer h3 {
        font-size: 20px;
    }
    #partner-offer>div.right-pane>div:last-child {
        font-size: 12px;
    }
    .plus-sign {
        text-align: left;
        margin-left: 20px;
        clear: both;
        margin-bottom: 15px;
    }
    .features .learn-more-wrapper {
        margin-top: 0px;
    }
    .ttl {
        display: block;
    }
    .user-form {
        padding: 14px 0px 0;
    }
    .partner-disclaimer {
        width: 75%;
        margin: auto;
        padding-bottom: 15px;
    }
 
    .ttr {
        display: none;
    }
    .ttl {
        display: block;
        position: absolute;
	  	right: 0;
	  	margin-right: 30px;
	  	margin-top: 10px;
    }
    #partner-offer .product-info-rr span {
	  padding: 1px 5px;
	  margin-top: 3px;
	  margin-left: 5px;
	}

	.offer-table-hr {
    	margin-bottom: 0;
		border-top: 1px solid #E0E0E0;
		width: 35%;
		display: block;
    }
    .icon-ratereward {
      background: url('/img/v2/icons.png') scroll -19px -141px transparent no-repeat;
    }
    
    #partner-offer .product-info-rr span { ;
      margin-top: 4px; 
    }
   
}
@media (max-width: 520px) {
    .partner-header .navbar {
        background-color: #212b30;
    }
    .navbar-default {
        padding: 10px 0 10px 10px;
    }
}
@media (max-width: 414px) {
    #partner-offer {
        margin-right: 15px;
        margin-left: 15px;
    }
    .partner-main-logo500 {
        display: block;
        margin: 0px;
        width: auto;
    }
    .partner-wrapper .partner-logo {
        float: none;
        width: 150px;
    }
    .partner-wrapper .partner-brand-container .partner-statement-box {
        margin-left: 0px !important;
        position: inherit;
        font-size: 14px;
        padding-left: 16px;
        float: left;
    }
    .partner-lendingtree {
        text-align: right;
        padding-right: 10px;
    }
    .partner-banner {
        padding-right: 0px;
        padding-left: 0px;
    }
    .validate-mortgage {
        padding: 0px 10px;
    }
}
@media (max-width: 375px) {
    .featured-in {
        padding: 0px;
    }
    .featured-in .row-fluid > div {
        padding: 0px;
    }
    .featured-in .icon-ab .featured-in-icon {
        background-size: 750px;
        background-position: -289px 6px;
    }
    #partner-offer p.title {
        font-size: 14px;
    }
    #partner-offer p.offer-title {
        font-size: 17px;
    }
    #partner-offer .featured-in {
        padding: 0px;
    }
    #partner-offer .featured-in .row-fluid > div {
        padding: 0px;
    }
    #partner-offer .featured-in .icon-ab .featured-in-icon {
        background-size: 750px;
        background-position: -289px 6px;
    }
    #partner-offer .featured-in .featured-in-icon {
        width: 160px;
    }
    #partner-offer div.tab-wrap.rrp .title {
        font-size: 15px;
        margin-bottom: 0px;
    }
    .features h1 {
        font-size: 26px;
    }
    .features .overview {
        font-size: 20px;
    }
    #aboutus h1 {
        font-size: 28px;
    }
    .featured-in .icon-pymnts .featured-in-icon {
        background-position: -416px 6px;
        background-size: 700px;
    }
    .featured-in .icon-street .featured-in-icon {
        background-position: -190px 0;
        background-size: 900px;
    }
}